[defaults]
# Ruta al archivo de inventario por defecto
inventory = inventory.ini

# Evita que Ansible pregunte por la verificación de la llave pública SSH (Host Key Verification)
# Muy útil en entornos de laboratorio y contenedores dinámicos
host_key_checking = False

# Usuario de SSH por defecto para conectarse a los nodos gestionados
remote_user = ansible

[privilege_escalation]
# Activa el escalado de privilegios por defecto (sudo)
become = True
become_method = sudo
become_user = root
become_ask_pass = False
